html{
	scroll-behavior: smooth;
}
body{
	padding-bottom:0;
	transition:0.5s ease-ins;
}
.footer-main {
	position: absolute;
	bottom: 0;
}

.center {
    text-align: center;
    margin: auto;
}
.subtitle {
    text-align: center;
    font-style: italic;
}
.img2 {
    height: 300px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.left {
    width: 600px;
    margin-right: 20px;
}
.right {
    width: 320px;
    height: 300px; 
    float: right;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
	font-family: Open Sans;
}

section {
	width: 100%;
	display: inline-block;
	background: #333;
	height: 50vh;
	text-align: center;
	font-size: 22px;
	font-weight: 700;
	text-decoration: underline;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
	content: "|";
	font-weight:300;
	font-size: 20px;
	left: 0;
	color: #fff;
	display: inline-block;
	padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
	content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 0px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}#wrapper {width:95%;  margin: 0 auto; }

#header {width:100%; }

#content {width:100%; }

#sidebar {width:100%; }

#footer {width:100%; }
.footer-main{  /* Selects text inside a <p> tag that is inside a .footer <div> */
   margin-bottom: 0; /* removes default <p> tag margin from the bottom */
}

.totler{
	background-image: url(../___sources/pattern-randomized.svg);
	/* background-image: url(../___sources/pattern-randomized.svg) no-repeat center center fixed; */
}

.tetra{
	background-color: #00e6f6;
}



.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
margin: 20px;
padding: 20px;
width: 500px;
min-height: 200px;
display: grid;
grid-template-rows: 20px 50px 1fr 50px;
border-radius: 10px;
box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
transition: all 0.2s;
}

.card:hover {
box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
position: relative;
text-decoration: none;
color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
position: absolute;
top: 25px;
left: 0;
content: "";
width: 0%;
height: 3px;
background-color: rgba(255, 255, 255, 0.6);
transition: all 0.5s;
}

.card__link:hover::after {
width: 100%;
}

.card__exit {
grid-row: 1/2;
justify-self: end;
}

.card__icon {
grid-row: 2/3;
font-size: 30px;
}

.card__title {
grid-row: 3/4;
font-weight: 400;
color: #ffffff;
}

.card__apply {
grid-row: 4/5;
align-self: center;
}

/* CARD BACKGROUNDS */

.card-1 {
background: radial-gradient(#00e6f6,#054782);
}
.card-3 {
background: radial-gradient(#76b2fe, #b69efe);
}

/* RESPONSIVE */

@media (max-width: 1600px) {
.cards {
justify-content: center;
}
}
/* body {
background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/45544/background-svg.svg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
} */
.topt{
background: url(../___sources/pattern-randomized.svg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-color: #00e6f6;

}
.myBackground {
	background-color: rgba(255,255,255, 0.5);
	color: inherit;
}

.overlay{
	text-align: center;
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
	padding: 0; 
	margin: 0; 
	width: 100%;
	height: 75%;
	padding: 10px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
	background-image: linear-gradient( 135deg, #1f6cab 10%, #00e6f6 100%);
	
}
.footbg{
	background-image: linear-gradient( 135deg, #1f6cab 10%, #00e6f6 100%);
	overflow: hidden;
}
a{
	text-decoration: none;
}

/* .downfoot{
	background-color: rgba(73,155,234,1);
    background: -moz-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%); 
} */

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #054782 0%,
    #61dff1 29%,
    #3abc6b 67%,
    #00e6f6 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 20vw;
	  text-align: center;
    margin: auto;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.pulse1{
	animation: pulse1 2s infinite linear;
	box-shadow: 3 3 3 rgb(215, 73, 21,0.4);
}
.pulse1:hover{
	animation: none;
}
@-webkit-keyframes pulse1 {
	0% {
	  -webkit-box-shadow: 0 0 0 0 rgba(218, 33, 33, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(214, 20, 20, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(253, 124, 12, 0.603);
	}
  }
  @keyframes pulse1 {
	0% {
	  -moz-box-shadow: 0 0 0 0 rgba(209, 29, 29, 0.4);
	  box-shadow: 0 0 0 0 rgba(204, 79, 44, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(204, 44, 44, 0);
		box-shadow: 0 0 0 10px rgba(204, 71, 44, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(204, 44, 44, 0);
		box-shadow: 0 0 0 0 rgba(204, 81, 44, 0);
	}
  }
  
 
.puls2{
	animation: puls2 2s infinite linear;
	box-shadow: 3 3 3 rgb(225, 36, 171,0.4);
}
.puls2:hover{
	animation: none;
}
@-webkit-keyframes puls2 {
	0% {
	  -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 255, 0.582);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(214, 20, 201, 0.288);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(253, 12, 245, 0.603);
	}
  }
  @keyframes puls2 {
	0% {
	  -moz-box-shadow: 0 0 0 0 rgba(206, 29, 209, 0.4);
	  box-shadow: 0 0 0 0 rgba(204, 44, 204, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(204, 44, 185, 0);
		box-shadow: 0 0 0 10px rgba(204, 44, 153, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(204, 44, 177, 0);
		box-shadow: 0 0 0 0 rgba(204, 44, 175, 0);
	}
  }

.boxed1{
	position: relative;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	padding-inline: 2rem;
	z-index: -1;
}
  .boxed1::before{
	content: '';
	position:absolute;
	width: 500px;
	height: 500px;
	background-image:conic-gradient(transparent,transparent,transparent,#61dff1);
	animation: animate1 4s linear infinite;
	z-index: -1;
	
} 
.boxed1::after{
	 z-index: -1;
	 content: '';
	 position:absolute;
	 width: 500px;
	 height: 500px;
	 background-image:conic-gradient(transparent,transparent,transparent,#3abc6b);
	 animation: animate1 4s linear infinite;
	 animation-delay: -2s;
 } 

 .boxed1{
	position: absolute;
	inset: 5px;
	z-index: 0;
	border-radius: 16px;
}

.boxed1:hover{
	bottom: 5px;
}
 @keyframes animate1 {
	 0%{
		 transform: rotate(0deg);
	 }
	 100%{
		 transform: rotate(360deg);
	 }
 }
 .boxed2::before{
	content: '';
	position:absolute;
	width: 500px;
	height: 500px;
	background-image:conic-gradient(transparent,transparent,transparent,#00ccff);
	animation: animate2 4s linear infinite;
	 } 
 .boxed2::after{
	 content: '';
	 position:absolute;
	 width: 500px;
	 height: 500px;
	 background-image:conic-gradient(transparent,transparent,transparent,#d400d4);
	 animation: animate2 4s linear infinite;
	 animation-delay: -2s;
 } 
 
 @keyframes animate2 {
	 0%{
		 transform: rotate(0deg);
	 }
	 100%{
		 transform: rotate(360deg);
	 }
 }

 /* it associat*/

 .container1{
	/*   display: flex;
	  align-items: center;
	  justify-content: center; */
	  font-size: 7vw;
	  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	  font-weight: 900;
	  height: 10vw;
	}
	
	.section1 {
	  display: flex;
	  justify-content: center;
	  width: 75vw;
	  animation-duration: 0.5s;
	  animation-iteration-count: infinite;
	  animation-direction: alternate;
	}

	
	.noise {
	  width: 100%;
	  height: 100%;
	  padding: 5px;
	  background: linear-gradient(24deg, rgba(50 0 255/10%), CornflowerBlue), url("data:image/svg+xml,%3Csvg viewBox='0 0 400 310' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.55' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
	  background-clip: text;
	  -webkit-background-clip: text;
		color: transparent;
	  animation-duration: 2s;
	  animation-name: shimmer;
	  animation-iteration-count: infinite;
	  animation-direction: alternate;
	}
	
/*days*/
.getx{
	padding: 0;
	margin: 0;
	background-color:transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 10vh;
	color: #7e00de;
	font-size: 10px;
	font-weight: bold;
	font-family: monospace;
	letter-spacing: 7px;
	cursor: pointer
  }
  .getx h1 span{
	transition: .5s linear
  }
  .getx h1:hover span:nth-child(1){
	margin-right: 5px
  }
  .getx  h1:hover span:nth-child(1):after{
	content: "'";
  }
  .getx  h1:hover span:nth-child(2){
	margin-left: 30px
  }
  .getx  h1:hover span{
	color: #ff3f85;
	text-shadow: 0 0 10px #ff3f85,
				 0 0 20px #ff3f85, 
				 0 0 40px #ff3f85;
  }




  /*days 1*/
  .gety{
	padding: 0;
	margin: 0;
	background-color:transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 10vh;
	color: #2637ff;
	font-size: 10px;
	font-weight: bold;
	font-family: monospace;
	letter-spacing: 7px;
	cursor: pointer
  }
  .gety h1 span{
	transition: .5s linear
  }
  .gety h1:hover span:nth-child(1){
	margin-right: 5px
  }
  .gety  h1:hover span:nth-child(1):after{
	content: "'";
  }
  .gety  h1:hover span:nth-child(2){
	margin-left: 30px
  }
  .gety  h1:hover span{
	color: #00ff58;
	text-shadow: 0 0 10px #00ff58,
				 0 0 20px #00ff58, 
				 0 0 40px #00ff58;
  }
/* day 2*/
  .getz {
	padding: 0;
	margin: 0;
	background-color:transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 10vh;
	color: #3abc6b;
	font-size: 10px;
	font-weight: bold;
	font-family: monospace;
	letter-spacing: 7px;
	cursor: pointer
  }
  .getz h1 span{
	transition: .5s linear
  }
  .getz  h1:hover span:nth-child(1){
	margin-right: 5px
  }
  .getz  h1:hover span:nth-child(1):after{
	content: "'";
  }
  .getz  h1:hover span:nth-child(2){
	margin-left: 30px
  }
  .getz  h1:hover span{
	color: #054782;
	text-shadow: 0 0 10px #054782,
				 0 0 20px  #054782, 
				 0 0 40px #054782;
  }