html{
	scroll-behavior: smooth;
}
body{
	padding-bottom:0;
	transition:0.5s ease-ins;
}
.footer-main {
	position: absolute;
	bottom: 0;
}

.center {
	align-items: center;
    text-align: center;
    margin: auto;
}
.subtitle {
    text-align: center;
    font-style: italic;
}
.img2 {
    height: 300px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.left {
    width: 600px;
    margin-right: 20px;
}
.right {
    width: 320px;
    height: 300px; 
    float: right;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
	font-family: Open Sans;
}

section {
	width: 100%;
	display: inline-block;
	/* background: #333; */
	height: 50vh;
	text-align: center;
	font-size: 22px;
	font-weight: 700;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	font-size: 20px;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
	content: "|";
	font-weight:300;
	font-size: 20px;
	left: 0;
	color: #fff;
	display: inline-block;
	padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
	content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 0px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}#wrapper {width:95%;  margin: 0 auto; }

#header {width:100%; }

#content {width:100%; }

#sidebar {width:100%; }

#footer {width:100%; }
.footer-main{  /* Selects text inside a <p> tag that is inside a .footer <div> */
   margin-bottom: 0; /* removes default <p> tag margin from the bottom */
}

.totler{
	background-image: url(../___sources/pattern-randomized.svg);
	/* background-image: url(../___sources/pattern-randomized.svg) no-repeat center center fixed; */
}

.tetra{
	background-color: #00e6f6;
}



.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
margin: 20px;
padding: 20px;
width: 500px;
min-height: 200px;
display: grid;
grid-template-rows: 20px 50px 1fr 50px;
border-radius: 10px;
box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
transition: all 0.2s;
}

.card:hover {
box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
position: relative;
text-decoration: none;
color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
position: absolute;
top: 25px;
left: 0;
content: "";
width: 0%;
height: 3px;
background-color: rgba(255, 255, 255, 0.6);
transition: all 0.5s;
}

.card__link:hover::after {
width: 100%;
}

.card__exit {
grid-row: 1/2;
justify-self: end;
}

.card__icon {
grid-row: 2/3;
font-size: 30px;
}

.card__title {
grid-row: 3/4;
font-weight: 400;
color: #ffffff;
}

.card__apply {
grid-row: 4/5;
align-self: center;
}

/* CARD BACKGROUNDS */

.card-1 {
background: radial-gradient(#4831D4,#76b2fe);
/* background-image: linear-gradient( 135deg, #1f6cab 10%, #00e6f6 100%); */
}
/* .card-3 {
background: radial-gradient(#006699, #1e7b7b);
} */

/* RESPONSIVE */

@media (max-width: 1600px) {
.cards {
justify-content: center;
}
}
/* body {
background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/45544/background-svg.svg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
} */
.topt{
background: url(../___sources/pattern-randomized.svg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
scroll-behavior: smooth;
background-color: #00e6f6;
 
}
.myBackground {
	background-color: rgba(255,255,255, 0.5);
	color: inherit;
}


.overlay{
	text-align: center;
	width: 100%;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 10% 10%;
	line-height:5;
	opacity: 85.5%;
	padding: 0; 
	margin: 0; 
	height: 75%;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
	background-image: linear-gradient( -135deg, #88d3ce 20%, #5b32cc );
}
.footbg{
	background-image: linear-gradient( -135deg, #88d3ce 20%, #5b32cc );
	/* radial-gradient(#00e6f6,#054782); */
	overflow: hidden;
}
a{
	text-decoration: none;
}

/* .downfoot{
	background-color: rgba(73,155,234,1);
    background: -moz-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%); 
} */

.animate-charcter
{
	text-align: center;
	text-transform: uppercase;
	background-image: linear-gradient(
		-225deg,
		#d74eff 0%,
		#7000ed 100%
		);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	/* text-fill-color: transparent; */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 2s linear infinite;
	display: inline-block;
	font-size: 15vw;
	justify-content: center;
    margin: auto;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.pulse1{
	animation: pulse1 2s infinite linear;
	box-shadow: 3 3 3 rgb(215, 73, 21,0.4);
}
.pulse1:hover{
	animation: none;
}
@-webkit-keyframes pulse1 {
	0% {
	  -webkit-box-shadow: 0 0 0 0 rgba(218, 33, 33, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(214, 20, 20, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(253, 124, 12, 0.603);
	}
  }
  @keyframes pulse1 {
	0% {
	  -moz-box-shadow: 0 0 0 0 rgba(209, 29, 29, 0.4);
	  box-shadow: 0 0 0 0 rgba(204, 79, 44, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(204, 44, 44, 0);
		box-shadow: 0 0 0 10px rgba(204, 71, 44, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(204, 44, 44, 0);
		box-shadow: 0 0 0 0 rgba(204, 81, 44, 0);
	}
  }
  
 
.puls2{
	animation: puls2 2s infinite linear;
	box-shadow: 3 3 3 rgb(225, 36, 171,0.4);
}
.puls2:hover{
	animation: none;
}
@-webkit-keyframes puls2 {
	0% {
	  -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 255, 0.582);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(214, 20, 201, 0.288);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(253, 12, 245, 0.603);
	}
  }
  @keyframes puls2 {
	0% {
	  -moz-box-shadow: 0 0 0 0 rgba(206, 29, 209, 0.4);
	  box-shadow: 0 0 0 0 rgba(204, 44, 204, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(204, 44, 185, 0);
		box-shadow: 0 0 0 10px rgba(204, 44, 153, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(204, 44, 177, 0);
		box-shadow: 0 0 0 0 rgba(204, 44, 175, 0);
	}
  }

.boxed1{
	position: relative;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	padding-inline: 2rem;
	z-index: -1;
}
  .boxed1::before{
	content: '';
	position:absolute;
	width: 500px;
	height: 500px;
	background-image:conic-gradient(transparent,transparent,transparent,#61dff1);
	animation: animate1 4s linear infinite;
	z-index: -1;
	
} 
.boxed1::after{
	 z-index: -1;
	 content: '';
	 position:absolute;
	 width: 500px;
	 height: 500px;
	 background-image:conic-gradient(transparent,transparent,transparent,#3abc6b);
	 animation: animate1 4s linear infinite;
	 animation-delay: -2s;
 } 

 .boxed1{
	position: absolute;
	inset: 5px;
	z-index: 0;
	border-radius: 16px;
}

.boxed1:hover{
	bottom: 5px;
}
 @keyframes animate1 {
	 0%{
		 transform: rotate(0deg);
	 }
	 100%{
		 transform: rotate(360deg);
	 }
 }
 .boxed2::before{
	content: '';
	position:absolute;
	width: 500px;
	height: 500px;
	background-image:conic-gradient(transparent,transparent,transparent,#00ccff);
	animation: animate2 4s linear infinite;
	 } 
 .boxed2::after{
	 content: '';
	 position:absolute;
	 width: 500px;
	 height: 500px;
	 background-image:conic-gradient(transparent,transparent,transparent,#d400d4);
	 animation: animate2 4s linear infinite;
	 animation-delay: -2s;
 } 
 
 @keyframes animate2 {
	 0%{
		 transform: rotate(0deg);
	 }
	 100%{
		 transform: rotate(360deg);
	 }
 }

 /* it associat*/

 .container1{
	/*   display: flex;
	  align-items: center;
	  justify-content: center; */
	  font-size: 8vw;
	  font-family: Reem Kufi;
	  font-weight: 900;
	  height: 10vw;
	  text-align: center;
	}
	.container1 h1{
		font-size: 8vw;font-family: Reem Kufi;
		font-style:italic;

	}
	.section1 {
	  display: flex;
	  justify-content: center;
	  width: 75vw;
	  animation-duration: 0.5s;
	  animation-iteration-count: infinite;
	  animation-direction: alternate;
	}

	
	.noise {
	  width: 100%;
	  height: 100%;
	  padding: 5px;
	  background: linear-gradient(24deg, rgb(86, 0, 216,35%), #340072), url("data:image/svg+xml,%3Csvg viewBox='0 0 400 310' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.55' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
	  background-clip: text;
	  -webkit-background-clip: text;
		color: transparent;
	  animation-duration: 2s;
	  animation-name: shimmer;
	  animation-iteration-count: infinite;
	  animation-direction: alternate;
	}

  /*days 1*/
  .gety{
	padding: 0;
	margin: 0;
	background-color:transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 10vh;
	color: #2637ff;
	font-size: 10px;
	font-weight: bold;
	font-family: monospace;
	letter-spacing: 7px;
	cursor: pointer
  }
  .gety h1 span{
	transition: .5s linear
  }
  .gety h1:hover span:nth-child(1){
	margin-right: 5px
  }
  .gety  h1:hover span:nth-child(1):after{
	content: "'";
  }
  .gety  h1:hover span:nth-child(2){
	margin-left: 30px
  }
  .gety  h1:hover span{
	color: #00ff58;
	text-shadow: 0 0 10px #00ff58,
				 0 0 20px #00ff58, 
				 0 0 40px #00ff58;
  }
/* day 2*/
  .getz {
	padding: 0;
	margin: 0;
	background-color:transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 10vh;
	color: #3abc6b;
	font-size: 10px;
	font-weight: bold;
	font-family: monospace;
	letter-spacing: 7px;
	cursor: pointer
  }
  .getz h1 span{
	transition: .5s linear
  }
  .getz  h1:hover span:nth-child(1){
	margin-right: 5px
  }
  .getz  h1:hover span:nth-child(1):after{
	content: "'";
  }
  .getz  h1:hover span:nth-child(2){
	margin-left: 30px
  }
  .getz  h1:hover span{
	color: #054782;
	text-shadow: 0 0 10px #054782,
				 0 0 20px  #054782, 
				 0 0 40px #054782;
  }

  .card1bg{
	background-color: #CCF381;
  }

  .card3bg{
	background-color: #adebeb;
  }

  li{
	display: inline;	
  }
.glassx {
	background: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	font-weight: 600;
	border: none;
	border-radius: 3px;
	font-size: 18px;
	font-style: oblique;
	position: relative;
  }
.glassy {
	overflow: hidden;
	display: block;
	margin: 20px auto;
	background-color: rgb(0, 0, 0);
	width: 200px;
	height: 30px;
	font-family: 'Open Sans';
	background: transparent;
  }
  .glassx:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 40px;
	content: '';
	background: linear-gradient(45deg, transparent, rgba(126, 0, 222, 0.7) 28%, rgba(126, 0, 222, 0.6) 32%, transparent);
	background-size: 100% 500%;
	transition-duration: 300ms;
  }
  
  .glassx:hover:before {
	background-size: 500% 100%;
  }

.item1{
	width:11%;
	float:left!important;
	margin-left:0 !important;
}
.item2{
	width:62.3%;
	float:left!important;
	margin-left:0 !important;
}
.logo{
	margin-top:2%;
	width:70%;
	margin-bottom: 5%;
	filter: drop-shadow(1.50px 1.5px 0 #fff);
}
.item3,.item4{
	width:12%;
	padding-left: 0;
	margin-left:0;
}

#Dept{
	font-size:2.3vw;
	float: left;
	text-align: left;
	width:100%;
	filter: drop-shadow(1.50px 1.5px 0 #ff0202);
}
.necit{
	margin-top:5%;
	margin-left:0% !important;
	float:left !important;
	width:6.2vw;
	filter: drop-shadow(2px 2px 2px #fff);
}
.listu{
	width: 100% !important;
}
.ita{
	margin-top:1vw;
	width:6.3vw;
	padding-left:0;
	margin-left:3% !important;
	float: left;
	filter: drop-shadow(1px 1px 0 #fff);
}

/*workshop*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
.works{
	display: flex;
	justify-content: center;
	align-items: center;
	border-color: black;
	margin: 0;
  }
  .product-card {
	width:600px;
	height: 300px;
	border-color: black;
	background-color: #fff;
	display: flex;
	margin: 1rem;
	position: relative;
	overflow: hidden;
	box-shadow: 0 1rem 3rem -1.4rem black;
  }
  
  .product-card:before {
	position: absolute;
	content: "";
	width: 50%;
	height: 140%;
	transform: rotate(-38deg);
	left: -18%;
	top: 8%;
  }
  
  .product-card__image {
	vertical-align: top;
	width: 20vw;
	height: auto;
	margin: 5% 5% 0;
	position: relative;
	z-index: 2;
	align-self: center;
  }
  
  .product-card__content {
	width: 50%;
	padding: 1rem 2rem 1rem 1rem;
  }
  
  .product-card__title {
	font-weight: 300;
	font-family: Reem Kufi;
	font-size: 3rem;
	color: darkblue;
	margin: 1.5rem 0;
  }
  
  .product-card__text {
	color: #444;
	font-family: Reem Kufi;
	font-size: large;
	line-height: 1.4;
  }
  
  .form-button {
	font-family: Reem Kufi;
	margin: 1.5rem 0 0;
	padding: 1rem 2rem;
	width: 100%;
	font-size: 15px;
	line-height: 2;
	border-radius: 3px;
	background: linear-gradient(90deg, #f38c00, #f83600, #00c6ff, #0072ff);
	background-size: 400% 400%;
	color: white;
	font-weight: 600;
	border: none;
  }
  .form-button:hover {
	background-position: -600px 0px;
  }

  /*Event Title*/

  .evetite{
	font-size: 5rem;
  text-align: center;
  font-family: Reem Kufi;
  font-weight: 700;

}


/*day 2 technical*/
.eve{
	--text-light: rgba(255,255,255,0.6);
	--text-lighter: rgba(255,255,255,0.9);
	position: relative;
}
.hero-section{
	background: transparent;
	display: block;
	justify-content: center;
	position: relative;
	padding: 64px 24px;
  }  
  .card-grids{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-column-gap: 24px;
	grid-row-gap: 24px;
  }
  
  .cardy{
	list-style: none;
	justify-content: center;
  }
  
  .cardy:before{
	content: '';
	display: block;
	padding-bottom: 150%;
	width: 100%;
  }
  
  .card__background{
	background-size: cover;
	background-position: center;
	border-radius: 24px;
	bottom: 0;
	filter: brightness(0.75) saturate(1.2) contrast(0.85);
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: center;
	transform: scale(1) translateZ(0);
	transition: 
	  filter 200ms linear,
	  transform 200ms linear;
  }
  
  .cardy:hover .card__background{
	transform: scale(1.05) translateZ(0);
  }
  
  .card-grids:hover > .cardy:not(:hover) .card__background{
	filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  .card-grids:hover > .cardy:not(:hover) .card__background{
	filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
	left: 0;
	padding: 24px;
	position: absolute;
	top: 0;
  }
  
  .card__heading{
	font-family: Reem Kufi;
	color: #fff;
	padding: auto;
	text-align: center;
	margin: 0;
	font-size: 120%;
	text-shadow: 2px 2px 2px rgba(0,0,0);
	line-height: 1.4;
	word-spacing: 100vw;
  }

  .card-gridy{
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	width: 100%;
  }
  /*events head*/
  .headerx {
	font-family: Reem Kufi;
	font-size: 6rem;
	font-weight:  270;
	letter-spacing: 3px;
	text-align: center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: hue 10s infinite linear;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/*regcon*/
.cardr {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.card-background {
    background-position: center;
    background-size: cover;
    text-align: center;
}

.card-background .table {
    position: relative;
    z-index: 2;
    min-height: 280px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 440px;
    margin: 0 auto;
}

.card-background .category,
.card-background .card-description,
.card-background small {
    color: rgba(255, 255, 255, 0.8);
}

.card-background .card-caption {
    color: #FFFFFF;
    margin-top: 10px;
}

.card-background:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.56);
    border-radius: 6px;
}
.d2t{
	position: relative;
}