 *{
    margin: 0;
    padding: 0;
 }
    html {
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #fff 0%, #aaa 100%) no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
}
body {
    text-align: center;
    display: table;
    background: black;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
canvas {display:block;}